<div class="content">
	<p><strong>Auctor commodo</strong> interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis.</p>
	<!--<form>-->
	<form method="post" action=".">
		{% csrf_token %}
		<div class="fields">
			<div class="field half">
				<!--input type="text" name="name" id="name" placeholder="Name" /-->
				{{contact_form.name}}
			</div>
			<div class="field half">
				<!--input type="email" name="email" id="email" placeholder="Email" /-->
				{{contact_form.email}}
			</div>
			<div class="field">
				<!-- textarea name="message" id="message" placeholder="Message" rows="7"></textarea-->
				 {{contact_form.message}}
			</div>
		</div>
		<ul class="actions">
			<li><input type="submit" value="Send Message" class="button primary"/></li>
		</ul>
	</form>
</div>