<section>
	<header>
		<h2>{{site_contents.section_get_started_buttons_headline | safe}}</h2>
	</header>
	<div class="content">
		<p>{{site_contents.section_get_started_buttons_paragraph | safe}}</p>
		<ul class="actions">
			<li><a href="{{site_contents.section_get_started_buttons_button_primary_link | safe }}" class="button primary large">{{site_contents.section_get_started_buttons_button_primary_text }}</a></li>
			<li><a href="{{site_contents.section_get_started_buttons_button_secondary_link | safe }}" class="button large">{{site_contents.section_get_started_buttons_button_secondary_text }}"</a></li>
		</ul>
	</div>
</section>